.infos{
  text-align: left;
  color: rgb(163, 212, 255);
  font-size: 20px;
}
.v{
  font-size: 10px;
  text-align: right;
}
img {
 border-radius: 150px 150px 150px 150px;
}
.logo{
  border-radius: 25px;
}
.disclamer{
  color: red;
  font-size: 40px;
}
.disclamer2{
  color: red;
  font-size: 30px;
}
h2 {
 font-size: 18px;
}
body {
 background-color:rgb(43, 165, 108);
 font-family: Comic Sans MS, Comic Sans, cursive;
 color: white;
 text-align: center;
}
.datmat{
  text-align: left;
  color: rgb(106, 218, 214);
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
}
.datmat1{
  text-align: left;
  color: rgb(106, 218, 214);
  font-size: 30px;
  font-family: Andale Mono;
}
.dev{
  border: solid, 5px;
  border-color: rgb(106, 218, 214);
  border-radius: 15px;
  border-top-left-radius: 65px;
  border-top-style: double;
}
a {
 background-color: white;
 font-size: 20px;
 border-radius: 5px 10px 5px 10px;
 padding: 5px;
 text-align: center;
 margin: 10px;
 color: rgb(43, 165, 108);
}

input{
font-size: 20px;
border-radius: 5px;
}
button{
font-size: 20px;
border-radius: 5px;
background-color: white;
color: rgb(43, 165, 108);
}
.version{

}
.nobutton{
 background-color: rgb(43, 165, 108);
 font-size: 17px;
 border-radius: 0px;
 padding: 0px;
 text-align: center;
 margin: 0px;
 color: rgb(163, 212, 255); 
}
